<!DOCTYPE HTML>
<html>
<head>
    <title>Spring boot Web service</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- 실제로는 외부 cdn 대신 직접 라이브러리를 받아 사용 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

</head>
<body>