{{>layout/header}}

<h1>스프링부트로 시작하는 웹서비스 Ver.3</h1>
<div class="col-md-12">
    <!-- login -->
    <div class="row">
         <div class="col-md-6">
             <a href="/posts/save" role="button" class="btn btn-primary">글 등록</a>
             <!-- userName 값이 있다면 노출, t/f 만 판단하므로 항상 최종값을 넘겨줘야 -->
             {{#theuserName}}
                 Logged in as: <span id="user">{{theuserName}}</span>
                <!-- 기본 url. SecurityConfig 에서 변경가능 -->
                <a href="/logout" class="btn btn-info active" role="button">logout</a>
             <!-- 없다면 로그인 버튼을 노출. -->
             {{/theuserName}}
             {{^theuserName}}
                 <a href="/oauth2/authorization/google" class="btn btn-success active" role="button">Google Login</a>
             <!-- 네이버 로그인 url은 properties > redirect-uri 값에 맞춰 자동으로 등록된다 -->
                 <a href="/oauth2/authorization/naver" class="btn btn-secondary active" role="button">Naver Login</a>
             {{/theuserName}}
         </div>
    </div>
    <br>
    <!-- 목록 출력 -->
    <table class="table table-horizontal table-borddered">
        <thead class="thead-strong">
        <tr>
            <th>게시글번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>최종수정일</th>
        </tr>
        </thead>
        <tbody id="tbody">
        <!-- posts list를 순회하며 뽑아낸 객체의 각 필드를 출력 -->
        {{#posts}}
            <tr>
                <td>{{id}}</td>
                <td><a href="/posts/update/{{id}}">{{title}}</a></td>
                <td>{{author}}</td>
                <td>{{modifiedDate}}</td>
            </tr>
        {{/posts}}
        </tbody>
    </table>
</div>
{{>layout/footer}}
